<main style="margin-top: 4em; text-align: center;">
    <h style="font-size:35px;background-color: antiquewhite;">Thank You for you registering</h>
    <p
        style="background-color: #35424a;font-size: xxx-large; margin-top: 2em;font-weight: bold;text-decoration: underline;color: white;">
        Welcome {{user.username}}</p>
    <p style="background-color: #35424a;font-weight: bold;">You can add multiple meal packs for the user.</p>
    <div style="background-image: url('dosa.jpg');"></div>
    <br><br>
    <a href="/add/meal/package" class="btn btn-primary">Add Meal Package</a>
</main>