<section class="bb">
  <form action="/login/user" method="POST">
    <div class="container">
      <h1>Already a Customer? Login</h1>
      <hr>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" id="psw" required>
      <hr>
      <button type="submit" class="registerbtn">LOG IN</button>
    </div>
  </form>
</section>
</main>
</body>